<html>
<head>
	<style>
html,body{background: url(http://images.hoodhelp.in/darelandingpage/background.png)}
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
</style>
</head>
<body>
<div class="row">
	<div class="span6" align="center">
		</br>
		</br>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="12">The Dream Team</font>
	</div>
	<div class="span6" align="center">
		</br>
		<img width="100" height="100" src="http://images.hoodhelp.in/darelandingpage/aboutusassets/darelogo.png"/>
		</br>
	</div>
	<div class="span3" align="center">
		</br>
		</br>
		</br>
		<img width="260" height="50" src="http://images.hoodhelp.in/darelandingpage/aboutusassets/titlejeremy.jpg"/>
		</br>
		</br>
		<img width="110" height="140" src="http://images.hoodhelp.in/darelandingpage/aboutusassets/photojeremy.jpg"/>
		</br>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="3">- Business analyst @ retail giant, Target</font>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="3">- Product manager on Intuit mobile apps, Weave, Mint H&B</font>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="3">- UI/UX design Ninja</font>
		</br>
	</div>
	<div class="span3" align="center">
		</br>
		</br>
		</br>
		<img width="260" height="50" src="http://images.hoodhelp.in/darelandingpage/aboutusassets/titlejustin.jpg"/>
		</br>
		</br>
		<img width="110" height="140" src="http://images.hoodhelp.in/darelandingpage/aboutusassets/photojustin.jpg"/>
		</br>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="3">- Sales and BD for Social Start-up Gigya [$1M and 150% of quota]</font>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="3">- Product and marketing manager on Intuit</font>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="3">- Demand planning @ Best Buy</font>
		</br>

	</div>
	<div class="span3" align="center">
		</br>
		</br>
		</br>
		<img width="260" height="50" src="http://images.hoodhelp.in/darelandingpage/aboutusassets/titleshao.jpg"/>
		</br>
		</br>
		<img width="110" height="140" src="http://images.hoodhelp.in/darelandingpage/aboutusassets/photoshao.jpg"/>
		</br>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="3">- Front and back end engineer for start-up Gigya</font>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="3">- Lead Client Services Engineer</font>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="3">- Customer empathy is in Shao's blood</font>
		</br>

	</div>
	<div class="span3" align="center">
		</br>
		</br>
		</br>
		<img width="260" height="50" src="http://images.hoodhelp.in/darelandingpage/aboutusassets/titlepeter.jpg"/>
		</br>
		</br>
		<img width="110" height="140" src="http://images.hoodhelp.in/darelandingpage/aboutusassets/photopeter.jpg"/>
		</br>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="3">- Launched/licensed his own code management platform</font>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="3">- Launched Time Tracking business at Intuit [$4M Revenue & 100K users]</font>
		</br>
		<font face="sans serif" COLOR="FFFFFF" size="3">- Entrepreneur, technical genius and code master</font>
		</br>

	</div>
</div>
</body>
</html>