<html>
<head>
<style>
html,body{background: url(http://images.hoodhelp.in/darelandingpage/background.png) center center fixed}
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
#testclass{
color:#FFFFFF;
}
</style>
</head>

<body>
<div class="row">
	<div class="span6" align="center">
		<a href="http://www.trydare.tumblr.com" style="margin:0px -3px 0px -3px;"><img width="72" height="33" src="http://images.hoodhelp.in/darelandingpage/buttons/blog.png"/></a>
		<a href="https://twitter.com/intent/tweet?source=webclient&text=Tell+us+about+%40Dare+%3A" style="margin:0px -3px 0px -3px;"><img width="72" height="33" src="http://images.hoodhelp.in/darelandingpage/buttons/contactus.png"/></a>
		<a href="/aboutus" style="margin:0px -3px 0px -3px;"><img width="72" height="33" src="http://images.hoodhelp.in/darelandingpage/buttons/team.png"/></a>
		</br>
	</div>
	<div class="span6" align="center" style="height:33px"></div>
	<div class="span6" align="center">
		<a href="http://www.facebook.com/Hoodhelp"><img width="26" height="33" src="http://images.hoodhelp.in/darelandingpage/buttons/facebook.png"/></a>
		<a href="http://twitter.com/Hoodhelp"><img width="26" height="33" src="http://images.hoodhelp.in/darelandingpage/buttons/twitter.png"/></a>
		</br>
	</div>
	<div class="span6" align="center" style="height:33px"></div>
	
	<div class="span6" align="center">
		<img width="250" height="470"  src="http://images.hoodhelp.in/darelandingpage/phoneonly.png"/>
	</div>
	<div class="span6" align="center">
		<br/>
		<br/>
		<div>
		<img width="270" height="125"  src="http://images.hoodhelp.in/darelandingpage/darelogo.png"/></br>
		</div><br/>
		<div>
			<div><font face="sans serif" COLOR="FFFFFF">We are changing the way you shop and interact</font></div>
			<div><font face="sans serif" COLOR="FFFFFF">with brands. Through fun and competitive</font></div>
			<div><font face="sans serif" COLOR="FFFFFF">challenges, picking up the milk just got interesting..</font></div>
		</div><br/>
		<div>
			<span><font face="sans serif" COLOR="FFFFFF" size="6.5">Coming soon</font></span>
			<span><font face="sans serif" COLOR="FFFFFF" size="2">(to an app store near you)</font></span>
		</div><br/>
		<div>
		    <%= form_for(@user, :html => { :style => 'width:330px; height:60px', :class=> 'testclass'}) do |f| %>

		      <%= f.label :email, :html => { :style => 'color:#FFFFFF' } %>
		      <%= f.text_field :email %>

		      <%= f.submit "Submit", :class => "btn btn-large btn-primary" %>
		    <% end %>
		    </br>
		</div>
		
		<div class="span6" align="center">
		</br>
			<font face="sans serif" COLOR="FFFFFF" size="2">&copy; Hoodhelp Inc</font>
		</div>
</div>

</body>
</html>