<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span4 offset2">
      	</br>
      	</br>
      	<div>Do good for free</div></br>
      	<div>Complete a challenge campaign</div></br>
      	<div>Donate your reward to a non-profit</div></br>
      </div>
      <div class="span6">
      	<div class="lp-element lp-pom-image" id="lp-pom-image-98" style="width:383px;height:255px;">
			<img src="//unbouncepages-com.s3.amazonaws.com/unbounce.hoodhelp.in/embracecampaign/1v1vsgy-make-a-difference_4p2u00c88lupdou8.jpg" alt="">
		</div>
		</br>
		</br>
       </div>
    </div>
  </div>

  <div class="span12" align="center">
  	<h2> Campaigns </h2>
  </div>

  <!-- Start of the challenge frame-->
  <div class="span12" align="center">
  	<div class="row">

  		<div class="span8 offset2" style="background:#fff;border-style:solid;border-width:1px;padding-top:8px;padding-bottom:8px;">
  			<div class="row">
  				<div class="span2">
  					<div class="row">
  						<div class="span1">
  							<span  style="width:50px;height:52px;">
  								<h3>Sponsor:</h3>
  							</span>
  						</div>
  						<div class="span1">
  							<span style="width:68px;height:52px;">
  								<img src="//unbouncepages-com.s3.amazonaws.com/unbounce.hoodhelp.in/embracecampaign/2ww6hn-shiok_4jy5qcnpann49khs.gif" alt="">
  							</span>
  						</div>
  					</div>
  				</div>
  				<div class="span6">
  					<p>Shiok Kitchen will donate to the San Francisco Food Bank if you complete this challenge</p>
  				</div>
  			</div>
  		</div>

  		<div class="span8 offset2" style="background:#fff;border-style:solid;border-width:1px;">
  			<img src="//unbouncepages-com.s3.amazonaws.com/unbounce.hoodhelp.in/embracecampaign/1lb8yx3-licking-lips_4qzf3br3fdohsm4g.jpg" width="620" height="240">
  		</div>

  		<div class="span8 offset2" style="background:#fff;border-style:solid;border-width:1px;padding-top:8px;padding-bottom:8px;">
  			<div class="row">
  				<div class="span6" style="margin-left:20px">
  					<h4>Tell your friends about the "Shiok for the poor cause" and Shiok will donate to San Francisco Food Bank on your behalf</h4>
  				</div>
  				<div class="span2" align="center" style="margin-left:0px;margin-top:0px;height:100px;width:156px">
  					<h4 id="donatechallenge1" class="btn">Updateprogressbar</h4>
  					<h4 id="donatechallenge1mechanism" class="btn" onclick="sensedevice()">Sensedevice</h4>
            <a href="#myModal" role="button" class="btn" data-toggle="modal">Donate</a>
            <h4 id="donatechallenge1device">hello</h4>
  				</div>
  			</div>
  		</div>

  		<div class="span8 offset2" align="center" style="background:#fff;border-style:solid;border-width:1px;">
  			<div class="span8" align="center" style="margin-left:0px;padding:5px;">
  			<!--progress bar-->
  				<div class="progress-bar green stripes" align="left">
    					<span id="challenge1" style="width: 60%"></span>
				</div>
  			</div>
  			<div class="span2">
  				<p3>current: 50%</p3></br>
  			</div>
  			<div class="span2">
  				<p3>Target: 50% to go</p3>

          <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Modal header</h3>
            </div>
            <div class="modal-body">
              <p>One fine body…</p>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn btn-primary">Save changes</button>
            </div>
          </div>

  			</div>
              <a id="donatechallenge1viamail" href="mailto:customer@email.com?subject=Information
      Requested&body=Here's more information. 
      http://www.website.com/info/info.pdf">Send More Info</a>
  			<!--progress bar-->
  				<!--Update progressbar-->
  				<!--Code for updating progress bar value-->
  				<!--Note that this is not done in percentages anymore, max value is 500. Original value is in percentage-->
  				<script>
  					$("#donatechallenge1").click(function() {
  						var challengevalue = $("#challenge1").width();
  						if(challengevalue < 500){
  						$("#challenge1").width('+=20');}
  					});
            function sensedevice(){
                var isMobile = navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry)/);
                if (isMobile!= null)
                  //on a mobile device so use email loop

                {
                  $('#donatechallenge1viamail').trigger('click')
                }
              else
                //on a pc so use form loop
              {
                  $(function ()    
                  { $("#myModal").modal();    
                  });
              }
                $("#donatechallenge1device").text(isMobile);
              }
  				</script>
  				<!--Update progressbar-->
  			<div class="span8" align="center" style="margin-left:0px">
  				<div class="span8" align="center" style="margin-left:0px;">
  					<a href="">submissions</a>
  				</div>
  			</div>
  		</div>
  	</div>
  </br>
  </br>
  </div>
  <!-- End of the challenge frame-->
  <!-- Start of the challenge frame-->
  <div class="span12" align="center">
  	<div class="row">

  		<div class="span8 offset2" style="background:#fff;border-style:solid;border-width:1px;">
  			<div class="row">
  				<div class="span2">
  					<div class="row">
  						<div class="span1">
  							<span  style="width:50px;height:52px;">
  								<h3>Sponsor:</h3>
  							</span>
  						</div>
  						<div class="span1">
  							<span style="width:68px;height:52px;">
  								<img src="//unbouncepages-com.s3.amazonaws.com/unbounce.hoodhelp.in/embracecampaign/2ww6hn-shiok_4jy5qcnpann49khs.gif" alt="">
  							</span>
  						</div>
  					</div>
  				</div>
  				<div class="span6">
  					<p>Shiok Kitchen will donate to the San Francisco Food Bank if you complete this challenge</p>
  				</div>
  			</div>
  		</div>

  		<div class="span8 offset2" style="background:#fff;border-style:solid;border-width:1px;">
  			<img src="//unbouncepages-com.s3.amazonaws.com/unbounce.hoodhelp.in/embracecampaign/1lb8yx3-licking-lips_4qzf3br3fdohsm4g.jpg" width="620" height="240">
  		</div>

  		<div class="span8 offset2" style="background:#fff;border-style:solid;border-width:1px;padding-top:8px;padding-bottom:8px;">
  			<div class="row">
  				<div class="span6" style="margin-left:20px">
  					<h4>Take a photo of you doing the shiok sign and Shiok Kitchen will donate a meal to the San Francisco Food Bank</h4>
  				</div>
  				<div class="span2" align="center" style="margin-left:0px;margin-top:8px;height:36px;width:156px">
  					<a href=""><h4>Donate</h4></a>
  				</div>
  			</div>
  		</div>

  		<div class="span8 offset2" align="center" style="background:#fff;border-style:solid;border-width:1px;">
  			<div class="span8" align="center" style="margin-left:0px;">
  				<img src="//unbouncepages-com.s3.amazonaws.com/unbounce.hoodhelp.in/embracecampaign/sachut-progress_4pw4pi9x9qw4be2o.jpg" alt="">
  			</div>

  			<div class="span8" align="center" style="margin-left:0px">

  				<div class="row">
  					<div class="span3" align="right" style="margin-left:20px">
  						<h4>40 shares</h4>
  						<h4>Its on!</h4>
  					</div>
  					<div class="span4 offset1" align="right" style="margin-left:20px">
  						<h4>500 shares</h4>
  						<h4>Success</h4>
  					</div>
  				</div>

  				<div class="span8" align="center" style="margin-left:0px;">
  					<a href="">submissions</a>
  				</div>

  			</div>
  		</div>
  	</div>
  </br>
  </br>
  </div>
  <!-- End of the challenge frame-->


</div>