<h1>WebApp#mv</h1>
<h2><%= @challenges.brand_name %> | <%= @challenge.title %></h2>

	<script type="text/javascript">
		function loadChallengelist () {
			//$.each(<%= @challenges.to_json %>, function() {
			//	$('#Challengelist').append(challenges.challenge.brand_name);
			}
		}
	</script>


<div>
</div>
<div id="Challengelist" align="center" style="width:100%"></div>
