<!DOCTYPE html>
<html>
<head>
  <title>Dare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!--
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Dare</a>
      </div>
    </div>
  </div>
--!>
  <div class="container">
    <div class="row">
      <div class="span12"><%= yield %></div>
    </div>
  </div>
</body>
</html>
